
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--white-color);
    color: var(--secondary-light);
    line-height: 1.6;
}

.top-container{
    background-color: lightgray;
    height: 70px;
    width: 100%;
    display: flex;
}

.logo{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    color: rgb(224, 105, 61);    
}
.options ul{
    display: flex;
    gap: 2rem;
    font-style: bold;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center
}